<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <!-- A Match="NavLinkMatch.All" azért kell, hogy csak pontosan a "/" útvonalnál legyen aktív -->
        <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door me-2"></i>Kezdőlap
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link px-3" href="csoportok">
            <i class="bi bi-people me-2"></i>Csoportok
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link px-3" href="tanulok">
            <i class="bi bi-person-badge me-2"></i>Tanulók
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link px-3 text-secondary" href="tesztek">
            <i class="bi bi-file-earmark-text me-2"></i>Tesztek (Hamarosan)
        </NavLink>
    </li>
</ul>
<h3>NavMenu</h3>

@code {

}
